<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ha.it.drinkapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar" >
        <activity
            android:name="ha.it.drinkapp.MenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="ha.it.drinkapp.PlayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ha.it.drinkapp.ShuffleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ha.it.drinkapp.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ha.it.drinkapp.StatementActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ha.it.drinkapp.RulesActivity"
            android:screenOrientation="portrait" >
        </activity>
           <provider
            android:name="RulesProvider"
            android:authorities="ha.it.drinkapp" >
        </provider>
    </application>
    
    
    
    
</manifest>